@font-face {
    -fx-font-family: "OptimusPrinceps";
    src: url("fonts/OptimusPrinceps.ttf") format('truetype');
}

#lostLabel{
    -fx-font: 40px "OptimusPrinceps";
}

#lossBG{
    -fx-background-color: #000000;
}
#gridBG{
    -fx-background-color: #000000;
}